html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: white;
}

.logo{
  
}

.header{
    background-color: rgb(226, 43, 180);
    padding: 20px;
    font-size: 40px;
}

@media screen and (max-width:600px){
    .flex-container {
        flex-direction: column;
    }
    main {
        background: #000000;
         }
               
        .header {
            background: rgb(226, 43, 180);
            padding: 20px;
            font-size: 40px;
            flex-direction: column;
        }
        .grid-item {
            flex-direction: column;
        }
           
        .footer {
            flex-direction: row;
        }

@media (max-width: 300px) {
        .nav {
            display: flex;
            align-items: flex-start; 
            text-align: center;
        }
    }
}

.wrapper {
    margin: auto;
    max-width: 75rem;

}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}

main {
    background: #000000;
    
}

.header {
    background: rgb(226, 43, 180);
    padding: 20px;
    font-size: 40px;
}

/* Navigation Stying */
.nav {
   display: flex;
    justify-content: space-between;
    background-color: white;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: black; 
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #555;
}

.nav-links.active {
    color: pink;
    /*background-color: pink;
    color: rgb(226, 43, 180);*/
  } 

  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px; 
  }
  
  @media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
  
  
  
    .nav-links {
      display: none;
       width: 100%;
    }
  
  .nav {
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .nav-links ul {
  width: 100%;
  flex-direction: column;
  }
  
  .nav-links li {
    text-align: center;
  }
  
  .nav-links li a {
    padding: .5rem 1rem;
  }
  
  .nav-links.active {
    display: flex;
  }}
  
  .section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    width: 100%;
   
  }

/* Hero Stying */
.hero {
    border: 1px solid black;
    width: 100%;
    background: black;
          
}

.article {
    display: grid;
    grid-direction: row;
}

.container-1 {
background: black;
display: flex;
flex-direction: row; 
justify-content: space-evenly;
}

.item {
padding: 20px;
text-align: center;
flex-direction: column;
background: black;
font-size: 1.5rem;
        
}

.quote {
    border: 1px solid black;
     background: pink;
     font-family: 'Dancing Script', cursive;
     font-size: 30px;
     text-align: center;
}

.resources {
    border: 1px solid black;
    padding: 20px; 
    background: pink;
     flex-grow: 1;
    font-size: 20px;
    color: white; 
}

.resources-links {
    text-decoration: none;
}

.story {
    background: rgb(226, 43, 180);
    flex-grow: 1;
    font-size: 20px;
}

 .sidepanel {
     border: 1px solid #000000;
     width: 100%;
     background:gray;
     display: inline-flex;
 }

 .grid-container {
display: grid;
grid-template-columns: auto auto auto;
background-color: black;
padding: 10px;
}
.grid-item {
border: 1px solid black; 
padding: 10px;
font-size: 20px;
text-align: center;
}




 /* Contact Form Styling */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=email], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: rgb(226, 43, 180);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: pink;
  }

 
  .container {
    border-radius: 0px;
    justify-content: center; 
    background-color: white;
    color: black;
    padding: 20px;
  }

   /* Footer Styling */
.footer {
    background: white;
    padding: 10px;
    width: 100%
     }

.copyright {
    color: black;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    display: flex; 
   }

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    color: white; 
    padding: 1rem;
    display: block;
}