

/*grid rules */

  .column {
    float: left; 
 width: 33.33%;
 padding-left:50px;
 padding-right:50px;
 padding-top:100px;
 padding-bottom: 25px;
  }

  .row:after {
      content:"";
      display: table;
      clear:both;
  }